.widefat {width: 100%;}
.hfcm-list-width {min-width:10%}
.hfcm-form-width {width:100%;}
.hfcm-th-width {width:25%; padding:20px 20px 0 !important;}
.hfcm-field-width {width:75%}
.btnsave {margin-top:10px !important; float:right;}
.padding20 {padding:20px !important;}